<table id="session">
  <tr>
    <th>經理</th>
    <th>領組</th>
    <th>承辦人</th>
    <th>客戶代號</th>
    <th>客戶簡稱</th>
    <th>收件完成</th>
    <th>初稿完成</th>
    <th>複核完成</th>
    <% if raw_type == "income_tax" %>
      <th>會計師復核</th>
    <% end %>
    <th>上傳完成</th>
    <th>備註</th>
  </tr>

  <% tasks.each do |task| %>

    <tr>
      <%= render 'shared/name', name: Customer.find(task.customer_id).manager.name %>
      <%= render 'shared/name', name: Customer.find(task.customer_id).leader.name %>
      <%= render 'shared/name', name: Customer.find(task.customer_id).officer.name %>
      <td><%= link_to Customer.find(task.customer_id).code, customer_path(Customer.find(task.customer_id)) %></td>
      <td><%= Customer.find(task.customer_id).name_abrev %></td>

      <% @check_types.each do |check_type| %>
        <% if raw_type == "income_tax" %>
          <%= render 'shared/check_btn', task: task, type: raw_type, check: Check.find(task.read_attribute(raw_type)), check_type: check_type %>
        <% else %>
          <% if check_type != "accountant" %>
            <%= render 'shared/check_btn', task: task, type: raw_type, check: Check.find(task.read_attribute(raw_type)), check_type: check_type %>
          <% end %>
        <% end %>
      <% end %>

       <% if task.note.nil? || task.note.empty? %>
        <td><%= link_to(edit_task_path(task, task: task.id), class: "empty_btn") do %><% end %></td>
      <% else %>
        <td><%= link_to(edit_task_path(task, task: task.id)) do %><small><%= auto_link(simple_format(task.note)) %></small><% end %></td>
      <% end %>
    </tr>

  <% end %>
</table>