<%= render 'shared/title', title: @query%>

<table id="session">
  <tr>
    <th>經理</th>
    <th>領組</th>
    <th>承辦人</th>
    <th>客戶代號</th>
    <th>客戶簡稱</th>
    <th>收件完成</th>
    <th>初稿完成</th>
    <th>複核完成</th>
    
    
    <th>上傳完成</th>
    <th>備註</th>
  </tr>

  <% @tasks.each do |task| %>

    <tr>
      <%= render 'shared/name', name: Customer.find(task.customer_id).manager.name %>
      <%= render 'shared/name', name: Customer.find(task.customer_id).leader.name %>
      <%= render 'shared/name', name: Customer.find(task.customer_id).officer.name %>
      <td><%= link_to Customer.find(task.customer_id).code, customer_path(Customer.find(task.customer_id)) %></td>
      <td><%= Customer.find(task.customer_id).name_abrev %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

  <% end %>
</table>