<%= render 'shared/title', title: '基本資料輸入' %>

<p><%= link_to " 返回案件管理", @url%></p>
<h3>員工資料</h3>
<p><%= link_to '新增員工', new_user_path %></p>
<p><%= link_to '選擇員工', new_user_choice_path %></p>


<h3>客戶資料</h3>
<p><%= link_to '新增客戶', new_customer_path %></p>
<p><%= link_to '選擇客戶', new_cus_choice_path %></p>

<p><%= link_to '新增年度', new_task_path %></p>
