<%= render 'shared/title', title: '新增客戶' %>

<div>
  <%= form_for @customer do |f| %>
  <%= render 'shared/form_errors', object: @customer %>
<table id="customer_new">
  <tr>
    <td>客戶代號:</td>
    <td><%= f.text_field :code %></td>
  </tr>

  <tr>
    <td>客戶簡稱: </td>
    <td><%= f.text_field :name_abrev %></td>
  </tr>

  <tr>
    <td>客戶全名: </td>
    <td><%= f.text_field :name %></td>
  </tr>

  <tr>
    <td>申報別: </td>
    <td><%= f.select :declare_type, options_for_select(@declare_types) %></td>
  </tr>

  <tr>
    <td>登記地址: </td>
    <td><%= f.text_field :reg_addr %></td>
  </tr>

  <tr>
    <td>聯絡地址: </td>
    <td><%= f.text_field :contact_addr %></td>
  </tr>

  <tr>
    <td>聯絡人1: </td>
    <td><%= f.text_field :contact_1 %></td>
    <td>聯絡人2: </td>
    <td><%= f.text_field :contact_2 %></td>
    <td>聯絡人3: </td>
    <td><%= f.text_field :contact_3 %></td>
  </tr>

  <tr>
    <td>手機1: </td>
    <td><%= f.text_field :cellphone_1 %></td>
    <td>手機2: </td>
    <td><%= f.text_field :cellphone_2 %></td>
    <td>手機3: </td>
    <td><%= f.text_field :cellphone_3 %></td>
  </tr>

  <tr>
    <td>電話1: </td>
    <td><%= f.text_field :phone_1 %></td>
    <td>電話2: </td>
    <td><%= f.text_field :phone_2 %></td>
    <td>電話3: </td>
    <td><%= f.text_field :phone_3 %></td>
  </tr>

  <tr>
    <td>傳真: </td>
    <td><%= f.text_field :fax %></td>
  </tr>

  <tr>
    <td>信箱: </td>
    <td><%= f.text_field :email %></td>
  </tr>

  <tr>
    <td>每月費用:</td>
    <td><%= f.text_field :monthly_fee %></td>
    <td>結算加收:</td>
    <td><%= f.text_field :extra_fee %></td>
    <td>稅簽:</td>
    <td><%= f.text_field :tax_fee %></td>
    <td>財簽:</td>
    <td><%= f.text_field :audit_fee %></td>
  </tr>

  <tr>
    <td>承辦人: </td>
    <td><%= f.select :officer_id, options_for_select(@users) %></td>
  </tr>

  <tr>
    <td>領組: </td>
    <td><%= f.select :leader_id, options_for_select(@users) %></td>
  </tr>

  <tr>
    <td>經理:</td>
    <td><%= f.select :manager_id, options_for_select(@users) %></td>
  </tr>

  <tr>
    <td>起始年約: </td>
    <td><%= f.text_field :start_date, placeholder: "例如: 2016-08-24" %><span style="color: grey;">  格式: yyyy-mm-dd </span></td>
  </tr>

  <tr>
    <td>狀態: </td>
    <td><%= f.select :status, options_for_select(@status) %></td>
  </tr>

  <tr>
    <td>備註1: </td>
    <td><%= f.text_area :note_1 %></td>
    <td>備註2: </td>
    <td><%= f.text_area :note_2 %></td>
    <td>備註3: </td>
    <td><%= f.text_area :note_3 %></td>
  </tr>

  <tr>
    <td>備註4: </td>
    <td><%= f.text_area :note_4 %></td>
    <td>備註5: </td>
    <td><%= f.text_area :note_5 %></td>
    <td>備註6: </td>
    <td><%= f.text_area :note_6 %></td>
  </tr>
  </table>
    <p><%= f.submit '新增' %></p>

  <% end %>
</div>
