<%= render 'shared/title', title: @customer.name %>
<p><%= link_to "上一頁", :back %></p>

<table id="customer_show">
  <tr>
    <td>客戶代號:</td>
    <td><%= @customer.code %></td>
  </tr>

  <tr>
    <td>客戶簡稱: </td>
    <td><%= @customer.name_abrev %></td>
  </tr>

  <tr>
    <td>客戶全名: </td>
    <td><%= @customer.name %></td>
  </tr>

  <tr>
    <td>申報別: </td>
    <td><%= declare_e2c(@customer.declare_type) %></td>
  </tr>

  <tr>
    <td>登記地址: </td>
    <td><%= @customer.reg_addr %></td>
  </tr>

  <tr>
    <td>聯絡地址: </td>
    <td><%= @customer.contact_addr %></td>
  </tr>

  <tr>
    <td>聯絡人1: </td>
    <td><%= @customer.contact_1 %></td>
    <td>聯絡人2: </td>
    <td><%= @customer.contact_2 %></td>
    <td>聯絡人3: </td>
    <td><%= @customer.contact_3 %></td>
  </tr>

  <tr>
    <td>手機1: </td>
    <td><%= @customer.cellphone_1 %></td>
    <td>手機2: </td>
    <td><%= @customer.cellphone_2 %></td>
    <td>手機3: </td>
    <td><%= @customer.cellphone_3 %></td>
  </tr>

  <tr>
    <td>電話1: </td>
    <td><%= @customer.phone_1 %></td>
    <td>電話2: </td>
    <td><%= @customer.phone_2 %></td>
    <td>電話3: </td>
    <td><%= @customer.phone_3 %></td>
  </tr>

  <tr>
    <td>傳真: </td>
    <td><%= @customer.fax %></td>
  </tr>

  <tr>
    <td>信箱: </td>
    <td><%= @customer.email %></td>
  </tr>

  <tr>
    <td>每月費用:</td>
    <td><%= @customer.monthly_fee %></td>
    <td>結算加收:</td>
    <td><%= @customer.extra_fee %></td>
    <td>稅簽:</td>
    <td><%= @customer.tax_fee %></td>
    <td>財簽:</td>
    <td><%= @customer.audit_fee %></td>
  </tr>

  <tr>
    <td>承辦人: </td>
    <td><%= User.find(@customer.officer_id).name %></td>
  </tr>

  <tr>
    <td>領組: </td>
    <td><%= User.find(@customer.leader_id).name %></td>
  </tr>

  <tr>
    <td>經理:</td>
    <td><%= User.find(@customer.manager_id).name %></td>
  </tr>

  <tr>
    <td>起始年約: </td>
    <td><%= @customer.start_date %></td>
  </tr>

  <tr>
    <td>備註1: </td>
    <td><%= auto_link(simple_format(@customer.note_1)) %></td>
    <td>備註2: </td>
    <td><%= auto_link(simple_format(@customer.note_2)) %></td>
    <td>備註3: </td>
    <td><%= auto_link(simple_format(@customer.note_3)) %></td>
  </tr>

  <tr>
    <td>備註4: </td>
    <td><%= auto_link(simple_format(@customer.note_4)) %></td>
    <td>備註5: </td>
    <td><%= auto_link(simple_format(@customer.note_5)) %></td>
    <td>備註6: </td>
    <td><%= auto_link(simple_format(@customer.note_6)) %></td>
  </tr>
  </table>
